{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "reporter": ["html"],
  "checkCoverage": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100,
  "perFile": true,
  "reportDir": "./reports/coverage",
  "tempDir": "./reports/.nyc_output"
}